<% content_for :title, "New movimentacao patrimonio" %>

<h1>New movimentacao patrimonio</h1>

<%= render "form", movimentacao_patrimonio: @movimentacao_patrimonio %>

<br>

<div>
  <%= link_to "Back to movimentacao patrimonios", movimentacao_patrimonios_path %>
</div>
