<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>


  <p>
    <strong>Ambiente:</strong>
    <%= @funcionario.ambiente_nome || "Não informado" %>
  </p>

</div>
